select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0.9142 1.03571L0.914184 1.03572L0.917002 1.03847L6.267 6.26347L6.50101 6.49202L6.73393 6.26236L12.0839 0.987363L12.0839 0.987369L12.0856 0.985705C12.1804 0.89088 12.3194 0.89088 12.4142 0.985705C12.5087 1.08025 12.509 1.21866 12.415 1.31346C12.4148 1.31374 12.4145 1.31402 12.4142 1.3143L6.66628 6.96224L6.66627 6.96223L6.6642 6.9643C6.56789 7.06061 6.52303 7.06667 6.4999 7.06667C6.44098 7.06667 6.38993 7.05223 6.32015 6.9991L0.584775 1.36347C0.49078 1.26866 0.491057 1.13025 0.585605 1.03571C0.68043 0.94088 0.819375 0.94088 0.9142 1.03571Z' fill='currentColor' stroke='currentColor' stroke-width='0.666667'/></svg>");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 20px);
  background-position-y: 50%;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
}

.file-button::before {
  content: '';
  background-image: url("data:image/svg+xml;utf8,<svg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M13.6875 9.28125H11.1875V6.8125C11.1875 6.4375 10.875 6.125 10.4687 6.125C10.0937 6.125 9.78125 6.4375 9.78125 6.84375V9.3125H7.3125C6.9375 9.3125 6.625 9.625 6.625 10.0312C6.625 10.4062 6.9375 10.7187 7.34375 10.7187H9.8125V13.1875C9.8125 13.5625 10.125 13.875 10.5312 13.875C10.9062 13.875 11.2187 13.5625 11.2187 13.1562V10.6875H13.6875C14.0625 10.6875 14.375 10.375 14.375 9.96875C14.375 9.59375 14.0625 9.28125 13.6875 9.28125Z' fill='white'/><path d='M10.5 0.5625C5.28125 0.5625 1.0625 4.78125 1.0625 10C1.0625 15.2188 5.3125 19.4688 10.5312 19.4688C15.75 19.4688 20 15.2188 20 10C19.9688 4.78125 15.7188 0.5625 10.5 0.5625ZM10.5 18.0625C6.0625 18.0625 2.46875 14.4375 2.46875 10C2.46875 5.5625 6.0625 1.96875 10.5 1.96875C14.9375 1.96875 18.5625 5.5625 18.5625 10C18.5625 14.4375 14.9375 18.0625 10.5 18.0625Z' fill='white'/></svg>");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-top;
}
